* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background: rgb(184, 226, 150);
  background: -webkit-gradient(linear, left top, right top, color-stop(34%, rgb(184, 226, 150)), color-stop(86%, rgb(254, 249, 229)));
  background: linear-gradient(90deg, rgb(184, 226, 150) 34%, rgb(254, 249, 229) 86%);
}

h1,
p,
span,
button,
i {
  margin-top: 0;
}

.hide {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}
header h1 span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #FEF9E5;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
          box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #41403e;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 23px;
  outline: none;
  padding: 1.5rem;
  text-decoration: none;
  -webkit-transition: all 235ms ease-in-out;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
@media screen and (max-width: 800px) {
  header h1 span {
    font-size: 2.5rem;
    font-weight: 400;
    padding: 1rem;
  }
}
@media screen and (max-width: 500px) {
  header h1 span {
    font-size: 2.5rem;
    font-weight: 400;
    padding: 1rem;
  }
}

.rules_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.rules_box .rules_title {
  height: 60px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rules_box .rules_title .title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: none;
  background-color: #FEF9E5;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
          box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #41403e;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 23px;
  outline: none;
  padding: 0.85rem;
  text-decoration: none;
  -webkit-transition: all 235ms ease-in-out;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.rules_box .rules_list {
  width: 800px;
  background: #FEF9E5;
  border: none;
  border-radius: 5px;
  padding: 15px 35px;
  margin-top: 12px;
}
.rules_box .rules_list .rules {
  margin: 5px 0;
  font-size: 17px;
}
.rules_box .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
}
.rules_box .start_btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #FEF9E5;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
          box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 23px;
  outline: none;
  padding: 1rem;
  text-decoration: none;
  -webkit-transition: all 235ms ease-in-out;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
.rules_box .start_btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 2px, 0);
          transform: translate3d(0, 2px, 0);
}
.rules_box .start_btn:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
@media screen and (max-width: 800px) {
  .rules_box .rules_title .title {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.7rem;
  }
  .rules_box .rules_list {
    width: 550px;
  }
  .rules_box .rules_list .rules {
    font-size: 16px;
    font-weight: 400;
  }
}
@media screen and (max-width: 500px) {
  .rules_box .rules_title .title {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.9rem;
  }
  .rules_box .rules_list {
    width: 375px;
  }
  .rules_box .rules_list .rules {
    font-size: 13px;
    font-weight: 500;
  }
  .rules_box .start_btn {
    font-size: 1rem;
    padding: 0.8rem;
  }
}

.quiz_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 620px;
  height: 470px;
  background: #FEF9E5;
  border: none;
  border-radius: 5px;
  padding: 25px 25px;
}
.quiz_box .question {
  font-size: 17px;
  font-weight: 600;
}
.quiz_box .option_list {
  padding: 20px 0;
  display: block;
}
.quiz_box .option {
  background: #B8E296;
  border: 1px solid #41403e;
  border-radius: 5px;
  font-size: 17px;
  padding: 8px 15px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.quiz_box .option:hover {
  background-color: #FEF9E5;
}
.quiz_box .correct {
  color: #FEF9E5;
  background-color: #0A6EBD;
}
.quiz_box .correct::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.quiz_box .wrong {
  color: #FEF9E5;
  background-color: #B31312;
}
.quiz_box .wrong::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.quiz_box .alreadyAnswered {
  pointer-events: none;
}
.quiz_box .back_btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #FEF9E5;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
          box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 23px;
  outline: none;
  padding: 1rem;
  text-decoration: none;
  -webkit-transition: all 235ms ease-in-out;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  position: absolute;
  left: 20%;
  top: 80%;
}
.quiz_box .back_btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 2px, 0);
          transform: translate3d(0, 2px, 0);
}
.quiz_box .back_btn:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
.quiz_box .next_btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #FEF9E5;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
          box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 23px;
  outline: none;
  padding: 1rem;
  text-decoration: none;
  -webkit-transition: all 235ms ease-in-out;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  position: absolute;
  left: 65%;
  top: 80%;
}
.quiz_box .next_btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 2px, 0);
          transform: translate3d(0, 2px, 0);
}
.quiz_box .next_btn:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
@media screen and (max-width: 800px) {
  .quiz_box {
    width: 430px;
  }
  .quiz_box .question {
    font-size: 18px;
  }
  .quiz_box .option {
    font-size: 16px;
    width: 400px;
  }
  .quiz_box .back_btn {
    font-size: 1rem;
    padding: 1rem;
    position: absolute;
    left: 18%;
  }
  .quiz_box .next_btn {
    font-size: 1rem;
    padding: 1rem;
    position: absolute;
    left: 65%;
  }
}
@media screen and (max-width: 500px) {
  .quiz_box {
    width: 380px;
  }
  .quiz_box .question {
    font-size: 18px;
  }
  .quiz_box .option {
    font-size: 16px;
    width: 350px;
  }
  .quiz_box .back_btn {
    font-size: 1rem;
    padding: 0.9rem;
    position: absolute;
    left: 18%;
  }
  .quiz_box .next_btn {
    font-size: 1rem;
    padding: 0.9rem;
    position: absolute;
    left: 62%;
  }
}

.results {
  background-color: #FEF9E5;
  width: 600px;
  height: 400px;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.results .complete_text {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 0;
}
.results .table table {
  border-collapse: collapse;
  width: 400px;
  height: 200px;
  position: absolute;
  left: 17%;
  top: 18%;
}
.results .table table td {
  border: 2px solid #41403e;
  text-align: center;
  font-size: 18px;
}
.results .quit_btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #FEF9E5;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
          box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 23px;
  outline: none;
  padding: 1rem;
  text-decoration: none;
  -webkit-transition: all 235ms ease-in-out;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  position: fixed;
  left: 44%;
  top: 77%;
}
.results .quit_btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 2px, 0);
          transform: translate3d(0, 2px, 0);
}
.results .quit_btn:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
@media screen and (max-width: 600px) {
  .results {
    width: 350px;
  }
  .results .complete_text {
    font-size: 18px;
  }
  .results .table table {
    width: 300px;
    position: absolute;
    left: 7%;
    top: 18%;
  }
  .results .table table td {
    font-size: 16px;
  }
  .results .quit_btn {
    font-size: 0.9rem;
    padding: 0.7rem;
  }
}