// Imports
@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";

.hide {
    display: none;
}


body {
    @include warning;

    @include mediaQuery(1500px) {
        .warning_box {
            position: fixed;
            left: 45%;
            top: 15%;
            transform: translate(-5%, -20%);
        }
    }

    @include mediaQuery(1400px) {
        .warning_box {
            position: fixed;
            left: 45%;
            top: 15%;
            transform: translate(-7%, -20%);
        }
    }
    @include mediaQuery(1150px) {
        .warning_box {
            position: fixed;
            left: 45%;
            top: 15%;
            transform: translate(-15%, -20%);
        }
    }
    @include mediaQuery(900px) {
        .warning_box {
            position: fixed;
            left: 45%;
            top: 15%;
            transform: translate(-20%, -20%);
        }
    }

    @include mediaQuery(768px) {
        .warning_box {
            display: none;
        }
    }

    @include mediaQuery(600px) {
        background-image: none;
        background-color: $lightGreen;
        background-position: 0 90%;
        background-repeat: repeat no-repeat;
        background-size: 4px 3px;
    }
}

header {
    @include header;

    @include mediaQuery(768px) {
        h1 {
            span {
                font-size: 2.5rem;
                font-weight: 400;
                padding: 1rem;
            }
        }
    }

    @include mediaQuery(600px) {
        h1 {
            span {
                font-size: 2.5rem;
                font-weight: 400;
                padding: 1rem;
            }
        }
    }
}

.rules_box {
    @include rules_box;

    @include mediaQuery(768px) {
        .rules_title .title {
            font-size: 1.2rem;
            font-weight: 500;
            padding: 0.7rem;
        }

        .rules_list {
            width: 550px;
        }

        .rules_list .rules {
            font-size: 16px;
            font-weight: 400;
        }
    }

    @include mediaQuery(600px) {
        .rules_title .title {
            font-size: 1rem;
            font-weight: 500;
            padding: 0.6rem;
            margin-top: 0.7rem;
        }

        .rules_list {
            width: 375px;
        }

        .rules_list .rules {
            font-size: 13px;
            font-weight: 500;
        }

        .start_btn {
            font-size: 1rem;
            padding: 0.8rem;
        }
    }
}

.quiz_box {
    @include quiz_box;

    @include mediaQuery(768px) {
        width: 430px;

        .question {
            font-size: 18px;
        }

        .option {
            font-size: 16px;
            width: 380px;
            touch-action: manipulation;
        }

        .back_btn {
            font-size: 1rem;
            padding: 1rem;
            position: absolute;
            left: 18%;
        }

        .next_btn {
            font-size: 1rem;
            padding: 1rem;
            position: absolute;
            left: 62%;
        }

        .correct {
            color: $cream;
            background-color: $correct;
        }

        .wrong {
            color: $cream;
            background-color: $cross;
        }
    }

    @include mediaQuery(600px) {
        width: 380px;

        .question {
            font-size: 18px;
        }

        .option {
            font-size: 16px;
            width: 330px;
            touch-action: manipulation;
        }

        .back_btn {
            font-size: 1rem;
            padding: 0.9rem;
            position: absolute;
            left: 18%;
        }

        .next_btn {
            font-size: 1rem;
            padding: 0.9rem;
            position: absolute;
            left: 62%;
        }
    }
}

.results {
    @include results;

    @include mediaQuery(600px) {
        width: 350px;

        .complete_text {
            font-size: 18px;
        }

        .table table {
            width: 300px;
            position: absolute;
            left: 7%;
            top: 18%;
        }

        .table table td {
            font-size: 16px;
        }

        .quit_btn {
            font-size: 0.9rem;
            padding: 0.7rem;
        }
    }
}